@import '../App.css';

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20vw;
  width: calc(100vw - 20vw);
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;
}

.home-page::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url('../assets/1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.stats-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  margin: 0 auto; /* Centers the container horizontally */
  position: relative;
  z-index: 1;
  color: #00A86F;
}