@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-image: url('./assets/EGGfinal3.svg');
   background-size: 15vw auto;
  background-size: contain;
  background-position: start;
  background-repeat: no-repeat;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: rgba(3, 71, 57, 1);
 

 /* Blurs what's behind the element */
  border-right: solid 1px rgba(75, 223, 144, 0.99);


}



.app-shell {
  display: flex;
  width: 100%;
  height: 100%;
  
}

.page-container {
  flex: 1;          /* fill the rest */
  display: flex;   
  width: 100%;      /* if you need flex inside */
  flex-direction: column;
}




.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  background-image: linear-gradient(0deg, #3bc74b, #90d3df, #6194d2, #90ea9f);
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-moving-gradient {
  height: 55px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-size: 300% 300%;
  border-radius: 50px;
} 
 
.btn-moving-gradient:hover {
  transition: 0.5s ease-in-out;
  background-position: 0% 100px;
} 
 


.btn.active {
  height: 55px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-size: 100% 300%;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  


}




